/* =========================
GLOBAL
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}


body{

    font-family:'Poppins',sans-serif;
    color:#111;
    background:#fff;

}



img{

    width:100%;
    display:block;

}



h1,h2,h3,h4{

    font-weight:700;

}



p{

    color:#555;
    line-height:1.7;

}






/* =========================
NAVBAR
========================= */


header{

    width:100%;

    padding:22px 8%;

    background:#071A4B;

    display:flex;

    justify-content:space-between;

    align-items:center;

    position:sticky;

    top:0;

    z-index:999;

}



.logo{

    color:white;

    font-size:30px;

    font-weight:700;

    letter-spacing:4px;

}



.logo img{

    width:120px;

}




nav a{

    color:white;

    text-decoration:none;

    margin-left:25px;

    font-size:14px;

}



nav a:hover{

    color:#00B4D8;

}



.menu-btn{

    display:none;

    color:white;

    font-size:30px;

}








/* =========================
BUTTON
========================= */


button{

    background:#00B4D8;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:30px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}



button:hover{

    background:#071A4B;

}








/* =========================
HERO BACKGROUND
========================= */


.hero{


    min-height:90vh;


    padding:80px 8%;


    display:flex;


    align-items:center;



    background:


    linear-gradient(

    rgba(7,26,75,.75),

    rgba(7,26,75,.75)

    ),


    url("image/kedai.jpeg");



    background-size:cover;


    background-position:center;


    background-repeat:no-repeat;


}





.hero-text{

    width:60%;

    color:white;

}





.hero-text h4{


    color:#00B4D8;

    letter-spacing:3px;

    margin-bottom:20px;


}




.hero-text h1{


    color:white;

    font-size:60px;

    line-height:1.2;

    margin:25px 0;


}





.hero-text p{


    color:white;

    font-size:18px;

    max-width:600px;

    margin-bottom:35px;


}









/* =========================
GENERAL SECTION
========================= */


.choose,
.services-page,
.location,
.contact,
.gallery,
.price-list,
.contact-page{


    padding:90px 8%;

    text-align:center;


}





.choose h2,
.services-page h2,
.location h2,
.contact h2,
.gallery h2,
.price-list h2,
.contact-page h2{


    font-size:40px;

    margin-bottom:40px;


}









/* =========================
CARDS
========================= */


.cards,
.service-container{


    display:flex;

    justify-content:center;

    gap:30px;


}





.cards div,
.service-box{


    background:white;

    padding:35px 25px;

    border-radius:25px;



    box-shadow:

    0 10px 30px rgba(0,0,0,.1);



    transition:.3s;


}





.cards div:hover,
.service-box:hover{


    transform:translateY(-10px);


}










/* =========================
SERVICE
========================= */


.service-box{

    width:280px;

}




.service-box .icon{


    font-size:50px;

    margin-bottom:20px;


}




.service-box h3{


    color:#071A4B;

    margin-bottom:15px;


}

